<mat-toolbar color="primary">
  <button (click)="menuToggled.emit(true)" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title" routerLink="/">Dashboard</span>
  <span class="spacer"></span>
  <!-- <app-register></app-register>
  <app-signin></app-signin> -->
  <!-- <div class="lien">
    <span class="title" routerLink="/register">Register</span>
    <span class="title" routerLink="/signin">Sign In</span>
  </div> -->
  <span class="welcome-text">{{ currentStudent?.fullusername }}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person_pin</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="profil()">
      <mat-icon>perm_identity</mat-icon>
      <span>Profil</span>
    </button>
    <button mat-menu-item (click)="message()">
      <mat-icon>chat</mat-icon>
      <span>Message Personel</span>
    </button>
    <button mat-menu-item (click)="note()">
      <mat-icon>note</mat-icon>
      <span>Notes</span>
    </button>
    <!-- <div class="badge">
      <p>{{userInfo.fullusername}}</p>
      <i>{{userInfo.email}}</i>
      <button mat-menu-item color="primary" (click)="logout()">Logout</button>
    </div> -->
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>  
  </mat-menu>
</mat-toolbar>
